doctype html
html
    head
        title Knowledgebase
    body
        block content
                h1 #{title}
                ul
                    each bhk, i in bhks
                        li= bhk.title
        br
        hr
        footer
            p Copyright &copy; 2018